<mat-toolbar>
  <nav>
    <a routerLink="/" class="title">Proof Arts Online</a>
    <a mat-button routerLink="/problem">問題リスト</a>
    <a mat-button routerLink="/create_problem">出題する</a>
  </nav>
  <span class="spacer"></span>
  <button mat-button (click)="signIn()" *ngIf="user == null">Sign In</button>
  <span *ngIf="user != null">{{user.displayName}}</span>
  <button mat-button (click)="signOut()" *ngIf="user != null">Sign Out</button>
</mat-toolbar>

<div id="firebaseui-auth-container"></div>

<div id="main">
  <router-outlet></router-outlet>
</div>
