<form [formGroup]="formGroup" (ngSubmit)="save()">
  <mat-form-field>
    <mat-label>問題名</mat-label>
    <input matInput id="title" type="text" formControlName="title">
  </mat-form-field>

  <mat-form-field>
    <mat-label>出典</mat-label>
    <input matInput id="source" type="text" formControlName="source">
  </mat-form-field>

  <!--<textarea matInput id="statement" formControlName="statement"></textarea>-->
  <app-mathjax-editor [control]="formGroup.controls.statement" label="問題文"></app-mathjax-editor>

  <div>
    <button type="submit" mat-raised-button color="primary">投稿</button>
  </div>
</form>
